
<div class="jumbotron">
  <h1 class="display-4">Welcome to jazz guitar tabs</h1>
  <p class="lead">This collection gathers tablatures and musical scores written for guitarists.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3 h-100">
      <div class="card-header">Artists</div>
      <div class="card-body">
        <p *ngIf="!artists"><em>Loading...</em></p>
        <a *ngFor="let artist of artists" class="badge badge-pill badge-warning" style="margin:1px;" routerLink="/tab/list/{{artist.name.replace(' ','-').toLowerCase()}}">{{artist.name}}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-warning mb-3 h-100">
      <div class="card-header">Recent Add</div>
      <div class="card-body">
        <p *ngIf="!tabs"><em>Loading...</em></p>
        <a *ngFor="let tab of tabs" class="badge badge-pill badge-dark" style="margin:1px;" routerLink="/tab/detail/{{tab.id}}">{{tab.title}} - {{tab.artist}}</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  
</div>
